/* 居中 */
.center{
    text-align: center;
}
/* 左浮动 */
.fl{
    float: left;
}
/* 右浮动 */
.fr{
    float: right;
}
/* 按钮文字颜色 */
.text_color{
    font-size:14px;
    /* font-family:SFUIDisplay-Bold; */
    font-weight:bold;
    color: #4C4BD5
}
/* 按钮文字移入颜色 */
.text_color:hover{
    color: #01008E;
    cursor:pointer
}
/* 按钮颜色 */
.bg_blue{
    background: #4C4BD5;
    color: #FFF;
}
.bg_save_btn{
    background: #4C4BD5;
    color: #FFF;
    font-size:16px;
    /* font-family:SFUIDisplay-Bold; */
  }
.bg_save_btn:hover{
    background: #01008E;
    color: #FFF;
}